<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập tài khoản YoYo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background: beige;">
    <h3 style="color:darkred; margin: 30px auto; width: fit-content;">Đăng nhập tài khoản <b>YoYo</b></h3>
    <form action="login.php" method="post" style="border-radius: 15px; width: 500px; margin: auto; padding: 26px; background: lightslategrey;">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">email/username</label>
            <input type="email" class="form-control" id="formGroupExampleInput" name="txt_email_username" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput1" class="form-label">pass</label>
            <input type="password" class="form-control" id="formGroupExampleInput1" name="txt_pass" required>
        </div>
        <div class="mb-3">
            {{mess}}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success" id="formGroupExampleInput2" name="btn" value="đăng nhập">
            <a href="register.php" class="btn btn-warning"> đăng ký</a>
        </div>
    </form>
</body>

</html>