{% extends "layout.html" %}
{%block linkCss%}<link rel="stylesheet" href="assest/css/style.css"> {%endblock%}
{% block content%}
<h2>Quản lý users</h2>
<a href="?action=add" class="btn btn-success">Thêm</a>
<table class="table table-dark table-hover table-striped">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>email</th>
        <th class="display1">sửa</th>
        <th class="display1">xóa</th>
    </tr>
    <tbody>
        {% for user in users%}
        <tr>
            <td>#</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td class="btn btn-warning"><a href="?action=edit&id={{user.id}}">sửa</a></td>
            <td class="btn btn-danger"><a href="?action=delete&id={{user.id}}">xóa</a></td>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock%}